//* {
//  font-size: 13px;
//  font-family: 'Roboto', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
//  margin: 0;
//  padding: 0;
//}
//
//.wrapper {
//  padding-left: 5%;
//}
//
//.pointer {
//  cursor: pointer;
//}

@mixin shop_li($float) {
  float: $float;
  list-style: none;
}

@mixin part_section() {
  width: 100%;
  max-width: 1532px;
  min-width: 1080px;
  margin: 0px auto 0;
}
